.homepage {
    text-align: center;
    width: 100%;
    .slider-bar-fill {
        opacity: 0.8;
    }
    &-header {
        margin-bottom: 75px;
        span {
            display: block;
        }
        &-heading {
            font-family: 'Acme', sans-serif;
            font-size: 40px;
            color: #ff4d88;
            margin: 20px;
        }
        &-tagline {
            margin: 10px auto;
            font-family: lato;
            letter-spacing: 1px;
            font-size: 18px;
            color: black;
            font-weight: 400 !important;
            a {
                color: #e6004c;
            }
        }
    }
}